body {
	background: #eee;
}
.circle {
	width: 8.5%;
	border-radius: 50%;
	float: left;
	margin: 0.5% 2%;
	background: grey;
}
.circle:after {
	content: '';
	display: block;
	padding-top: 100%;
}
.clear {
	clear: both;
}